<%- include("./partial/header.ejs") %>
<body>
  <h1> Edit information for <%= student.name%></h1>
	<container>
<form action="/students/<%= student.id%>?_method=PUT" method="POST">
  <div class="form-group">
    <label for="name">Name </label>
    <input type="input" class="form-control" id="name" name="name" value="<%= student.name%>">
  </div>
  <div class="form-group">
    <label for="major">Major</label>
    <input type="text" class="form-control" id="major" name="major" placeholder="COE" value="<%= student.major%>">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</container>
</body>
</html>