<%- include("./partial/header.ejs") %>
<body>
	<container>
<form action="/students" method="POST">
	<div class="form-group">
    <label for="id">ID  </label>
    <input type="input" class="form-control" id="id" name="id"  value="101">
  </div>
  <div class="form-group">
    <label for="name">Name </label>
    <input type="input" class="form-control" id="name" name="name" placeholder="Muhamad" value="Muhamad Felemban">
  </div>
  <div class="form-group">
    <label for="major">Major</label>
    <input type="text" class="form-control" id="major" name="major" placeholder="COE" value="COE">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</container>
</body>
</html>