<h1>Sign up form </h1>

<form action="/register" method="POST"> 
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button type="submit">Submit</button>
</form>