<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p><span>Student is <%= name %> from <%= major %></span></p>
<form action="/students/<%= id%>/edit">
	<button type="submit"> Edit</button>
</form>
<form action="/students/<%= id%>/?_method=DELETE" method="POST">
	<button type="submit"> Delete</button>
</form>

</body>
</html>