<!DOCTYPE html>
<html>
<head>
  <title>
    COE 445

  </title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

  <p> COE 445 Roster  </p>
<!-- <button onclick="getData()"> Fetch From Server </button> -->
<li><a href="/logout">Logout</a></li>
<lu id='roster'> </lu>

<form action="/students/new">
  <input type="submit" name="add" value="Add new student">
</form>
<p> Students </p>
<ul id='attendance'> 
  <% students.forEach(function(student){ %>
  <a href="/students/<%=student.id%>"> <li class="items" > <%= student.name %></li></a> 
  <%})%>
</ul>
</body>
</html>
