<h1> List of my friends </h1>



<p> The Friends are </p>


<% friends.forEach(function(friend){ %>
		<li> I have a <%= friend %> </li>
<% }); %>

<form action="/addfriend" method="POST">
<input type="text" name="newfriend" placeholder="name">
<button> I made new friends </button>
</form>

