/*.left{
	border-right:  5px solid;
	
}
.right{
	border-left:  5px solid;

}
.top{
	border-bottom:  5px solid;
}
.bottom{
	border-top:  5px solid;
	
}

.cell{
	height: 300;
	width: 300;
}*/

img {
    max-width: 40px;
    max-height: 40px;
    object-fit: contain;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: LightGray;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid orange;
  padding: 50px;
  /*font-size: 30px;*/
  text-align: center;
}